body {
  margin: 0px;
  font-family: Arial, sans-serif;
}

.section {
  margin-bottom: 40px;
}

/* class .ten_class
id #ten_id */

/* Begin Css cho Personal  */

.section-personal-fullname {
  font-size: 32px;
  color: #0e2452;
}

/* Container holding the image and the text */
.container {
  position: relative;
  font-size: 30px;
  text-align: center;
  color: black;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.topnav {
  overflow: hidden;
  padding-left: 15%;
  border-style: ridge;
}

.topnav a {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 65px 30px;
  text-decoration: none;
  font-size: 20px;
  width: 200px;
}

.nav-center {
  width: 400px !important;
  padding-top: 30px !important;
}

.nav-span-title {
  font-weight: bold;
  font-size: 30px;
}

/* grid  */
.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.grid-item {
  /* border: 1px solid rgba(0, 0, 0, 0.8); */
  font-size: 30px;
  padding: 40px;
  text-align: center;
}

.nghe-nghiep {
  text-align: left !important;
  padding-left: 40%;
  background-color: rgba(240, 248, 255, 0.021);
  border-style: ridge;
}

.ca-nhan {
  text-align: left !important;
  padding-right: 40%;
  background-color: rgba(0, 204, 255, 0.021);
  border-style: ridge;
}

.grid-container-icon {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
.grid-item-icon {
  /* border: 1px solid rgba(0, 0, 0, 0.8); */
  font-size: 30px;
  text-align: left;
}

.grid-container-nghe-nghiep {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
}
.grid-item-nghe-nghiep {
  border: 1px solid rgba(0, 0, 0, 0.8);
  font-size: 20px;
  text-align: left;
  width: 50%;
  padding: 100px;
  margin: 100px;
}

.job-infor {
  display: flex;
  justify-content: space-around;
}

.col-1 {
  width: 33.33%;
  border: 1px solid red;
  margin: 10px;
  padding: 10px;
}
.experience,
.hobbies {
  border: 1px solid blue;
  margin-bottom: 5px;
}

.card-header {
  display: flex;
  padding: 10px;
}

.card-header-text {
  width: 75%;
  border: 1px solid purple;
}

.card-header-icon {
  width: 25%;
  border: 1px solid purple;
}

/* img  */
.personal-image {
  width: 113px;
  height: 113px;
  position: absolute;
  left: 800px;
  top: 90px;
}

.personal-title {
  font-weight: bold;
  width: 150px;
}

.section-title {
  text-transform: uppercase;
}

/* End cho Personal  */

/* Begin muc tieu nghe nghiep */

/* End muc tieu nghe nghiep */
.cv-document {
  box-sizing: border-box;
  border: none;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  vertical-align: baseline;
  text-decoration: none;
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: arial, sans-serif, tahoma;
  font-size: 10pt;
}

.cv-page {
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  vertical-align: baseline;
  text-decoration: none;
  width: 900px;
  min-height: 900px;
  margin: 0 auto;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  background-color: #fff;
  position: relative;

  padding: 40px;
}
